<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Prueba</title>
</head>
<body>
    <header class="header-main border-bottom">
        <nav class="navbar p-md-0 navbar-expand-sm  navbar-dark border-bottom " style="background-color: rgb(0, 0, 0);">
          <!-- Container wrapper -->
          <div class="container-fluid m-4">
            <!-- Toggle button -->
            <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarCenteredExample"
              aria-controls="navbarCenteredExample"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>
        
            <!-- Collapsible wrapper -->
            <div
              class="collapse navbar-collapse justify-content-center"
              id="navbarCenteredExample"
            >
              <!-- Left links -->
              <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item mx-5">
                  <a class="navbar-brand " aria-current="page" href="/">Página Principal</a>
                </li>
                <li class="nav-item mx-5">
                  <a class="navbar-brand" href="{{ url_for ('Gestion')}}">Gestionar Impuestos</a>
                </li>
              </ul>
              <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
          </div>
          <!-- Container wrapper -->
        </nav>
      </header> 
    
    {% block content %}


    {% endblock content %}

</body>
</html>